.main {
  background-image: url("../../images/landingPagePic.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.6);
  margin: 15px 0;
  border-radius: 15px;
  padding: 15px 20px;
  max-width: 90%;
}

.content {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-top: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(248, 250, 252);
  box-shadow: 0.3em 0.5em 0.7em -0.4em #204768;
  width: 250px;
  padding-bottom: 10px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  margin: 10px;
  border: 1px outset #f7dfe1;
}

.card button {
  background-color: #db2439;
  color: white;
  width: 50%;
  font-weight: 600;
  border: none;
  font-size: 1em;
  padding: 5px 35px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card button:hover {
  cursor: pointer;
  transform: translateY(-0.1em);
  box-shadow: 0 0.3em 0.3em -0.1em #204768;
  transition: all 0.5s ease;
}

.card span {
  font-weight: 600;
}

.noDataP {
  font-size: 1.7em;
  color: #e85c6d;
  margin-top: 50px;
}

.inputsDiv {
  display: flex;
  padding-bottom: 10px;
}

.inputsDiv div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 0 5px;
}

img {
  width: 250px;
  height: 180px;
  border-top-right-radius: 50px;
}

h1 {
  font-size: 2em;
  letter-spacing: 1px;
}

h2,
p {
  font-size: 0.8em;
  padding: 0 10px;
  margin: 5px 0;
}

.filterForm {
  width: 100%;
  max-width: 1500px;
  background-color: white;
  margin-bottom: 5px;
  box-shadow: 0 0.55em 0.5em -0.4em #204768;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.filterForm .resetBtn {
  color: #e85c6d;
}

.filterForm button {
  padding: 5px 25px;
  margin: 10px 20px;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #282c34;
  font-weight: 600;
}

.filterForm button:hover {
  cursor: pointer;
  transform: translateY(-0.1em);
  box-shadow: 0 0.5em 0.5em -0.2em #204768;
  transition: all 0.5s ease;
}

.filterForm input,
.filterForm select {
  width: 90%;
  border-radius: 7px;
  border: 1px solid #204768;
}

.filterForm select {
  height: 22px;
}

.filterForm label {
  font-weight: 600;
  letter-spacing: 1px;
  padding-bottom: 5px;
  color: #204768;
}

.filterForm h1 {
  padding-top: 10px;
  color: #e85c6d;
  font-size: 1.7em;
}

.filterForm h3 {
  color: #204768;
  letter-spacing: 1px;
}
